@CHARSET "ISO-8859-1";
div.tabbed-menu{
	font-family: "Helvetica";
	font-size: 15px;
	width: 600px;
}

ul.tabs{
	text-align: center;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 26px;
	color: #0088CC;
	border-bottom: 1px solid #DDDDDD;
}

ul.tabs li{
	margin-bottom: -1px;
	padding: 3px 10px 0 10px;
	border: 1px solid #DDDDDD;
	background: #EFEFEF;
	display: inline-block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.tabs.selected{
	background:#FFF;
	border-bottom-color: transparent;
}

div.page:not(.selected){
	display:none;
}

ul.tabs li:hover{
	color: #333333;
	cursor: pointer;
	background: #FFFFFF;
}

div.page{
	text-align: center;
}

div.page div.header:hover{

	color:reDD
	cursor:pointer;
}

div.page li{
	text-align: left;
	list-style-type: none;
}

div.content{
	text-align:left;
}

div li.sub-section{
	text-align: center;
}

div.header{
	text-align:left;
	font-weight:bold;
	border-style:solid;
	padding:6px 6px 6px 6px;
	margin-top:10px;
	font-size:24px;
}

p{
	text-align:left;
}

.hidden{
	text-align:left;
}

.detail{
	display:none;
}
